@import url("normalize.css");
@import url("reset.css");

@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-VariableFont_wght.ttf");
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #;
  --black-light-color: #;
  --gray-color: #6c7072;
  --gray-light-color: #d5d5d5;
  --white-color: #f0f0f0;
  --accent-color: #;
}

:focus-visible {
  outline: 2px dashed var(--gray-color);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 90rem;
  font-family: "Rubik";
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 1.25rem;
  min-height: 100dvh;
}
