.categories {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem;
  overflow-x: auto;
  scrollbar-width: thin;
  padding-bottom: 0.25rem;
}

.item,
.active {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--white-color);
}

.item:hover {
  outline: 1px solid var(--gray-color);
}

.active {
  background-color: var(--accent-light-color);
  color: var(--accent-color);
  border: 0px solid var(--accent-color);
  outline: 1px solid var(--accent-color);
}
