.header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-bottom: 0.125rem solid var(--white-color);
  padding: 0.5rem 1rem;
}

.title {
  font-size: 2.75rem;
  font-weight: 500;
}

.date {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
